.main__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  margin: 30px 15px;

  @media (min-width: $tablet-width) {
    font-weight: bold;
    font-size: 38px;
    line-height: 50px;
    margin: 40px 25px;
  }

  @media (min-width: $desktop-width) {
    width: 950px;
    margin: 40px auto;
  }
}