.video {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 25px 325px 1fr 325px 25px;
  }

  @media (min-width: $desktop-width) {
    max-width: 950px;
    margin: 0 auto;
    grid-template-columns: 1fr 465px 1fr 465px 1fr;
  }
}

.video__title {
  margin: 0 15px;
  padding: 20px 0 30px;
  font-weight: bold;
  font-size: 22px;
  line-height: 31px;
  border-top: $border-black-30;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 40px 0 51px;
    font-size: 30px;
    line-height: 40px;
    grid-column: 2 / -2;
    grid-row: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 0 50px;
  }
}

.video__wrapper-img {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.video__img {
  width: 320px;
  height: 170px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 325px;
    height: 173px;
  }

  @media (min-width: $desktop-width) {
    width: 465px;
    height: 248px;
  }
}

.video__list {
  margin: 0 auto;
  padding: 0 15px;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    grid-column: 4 / -2;
    grid-row: 2 / 3;
  }
}

.video__item {
  margin-bottom: 30px;

  &--quality {
    &::before {
      content: "";
      margin: 0 auto;
      width: 60px;
      height: 60px;
      display: block;
      background: url("../img/stack.svg#shooting-quality") 50% 50% no-repeat;

      @media (min-width: $tablet-width) {
        margin: auto 0;
        margin-left: 20px;
      }
    }
  }

  &--motion {
    &::before {
      content: "";
      width: 60px;
      height: 60px;
      margin: 0 auto;
      display: block;
      background: url("../img/stack.svg#slow-motion") 50% 50% no-repeat;

      @media (min-width: $tablet-width) {
        margin: auto 0;
        margin-left: 20px;
      }
    }
  }

  &--stabilization {
    &::before {
      content: "";
      width: 60px;
      height: 60px;
      margin: 0 auto;
      display: block;
      background: url("../img/stack.svg#stabilization") 50% 50% no-repeat;

      @media (min-width: $tablet-width) {
        margin: auto 0;
        margin-left: 20px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
  }
}

.video__text {
  margin: 20px 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: $tablet-width) {
    width: 203px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 343px;
  }
}